button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.header {
  display: grid;
  grid-template-columns: 0.5fr 10fr 0.5fr;
  margin-bottom: 40px;
  color: #522104;
}

.source-control-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 0.5fr;
  grid-template-areas:
    "left left left . . right";
}

.add-source-button {
  grid-area: right;
  font-weight: bold;
}

.delete-all-sources-button {
  width: fit-content;
}

.enable-all-sources-button {
  width: fit-content;
}

.disable-all-sources-button {
  width: fit-content;
}

.source-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 40vh;
  height: 40vh;
  margin-top: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 1mm;
  border-style: solid;
  border-left-style: none;
  border-right-style: none;
  padding-top: 10px;
  padding-bottom: 20px;
}

.source-entry {
  display: grid;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-areas: ". a b";
  margin-top: 20px;
}

.init-sources-button {
  margin: auto;
}

.num-images-selection {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.num-images-radio {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.display-time-selection {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.display-time-radio {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.save-config-area {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 0.7fr 1fr;
  grid-template-areas:
    ". center .";
  align-items: center;
  justify-content: center;
}

.save-config-button {
  grid-area: center;
}

.submit-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.go-button-area {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-areas:
    ". center .";
  align-items: center;
  justify-content: center;
  width: 100%;
}

.go-button {
  grid-area: center;
  width: 100%;
}

.saved-config-list {
  display: flex;
  scrollbar-width: none;
  margin-top: 10px;
  column-gap: 40px;
  padding: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center;
}

.full-config-button {
  flex: 0 0 auto;
}



.source-entry-main-button {
  grid-area: a;
  width: 50%;
  justify-self: center;
}

.x-button {
  grid-area: b;
  width: fit-content;
  justify-self: right;
  font-weight: bold;
}

.source-entry-main-button.disabled {
  opacity: 0.5;
}

.config-x-button {
  font-size: 10px;
  margin-left: 5px;
}

@media (prefers-color-scheme: dark) {
  .header {
    color: #fff;
  }
}
